<h1>You have administered a slap round the chops to <%= @player.name %>!</h1>
<h1><%= @player.name %>'s HP is <%= @player.hitpoints %></h1>
<form action="/play" method="get">
<input type="submit" value="Back"/>
</form>
